body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
    margin: 0;
    padding: 30px;
    color: #333;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: greenyellow;
    padding: 30px;
    border: 3px solid lightseagreen;
    border-radius: 30px;
}

h1, h2, h3 {
    color: green;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 100%; 
}

.documents {
    text-align: center;
    width: 40%;
}

.uploads {
    border: 3px solid green;
    border-radius: 30px;
    background-color: white;
    height: 70%;
    width: 100%;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 3px solid green;
    border-radius: 10px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.method-button.active {
    background-color: green;
    color: lightseagreen;
    border: 3px solid lightseagreen;
}

.button {
    display: flex;
    justify-content: center;
    gap: 30px; 
}

button {
    cursor: pointer;
    background-color: lightseagreen;
    color: green;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 1000;
}

.send {
    display: flex;
    justify-content: center;
}

.response {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid green;
}
